

body {
	background-color: LightGray;
}

section {
	border: 1px solid orange;
}

.top-navigation{
	background-color: #fff;
}

.top-navigation > .content {
	width:970px;
	height:70px;
	margin:0 auto;
}