/*============Global============*/

body {
    background-color: #fff;
}
div {
    border: 1px solid Chocolate;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

p  {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
}


/*============Top Nav Bar===========*/


.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

.content {
	width:970px;
	height:70px;
	margin:0 auto;
	padding-right: 20em;
}

img.logo {
    border-style: none;
    padding-top: 1em;
    padding-left: 16em;
}

.links{
	float:right;
}

.top-navigation .links li {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: .6em;
	margin-left: 1em;

}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

/*============Middle Body Content=================*/

.background-image {
	width:100%;
	height: 650px;
}

.background-text {
	margin-top: -30em;
	color: white;
	text-align: center;
}

.background-text > h1 {
	font-size: 3.125rem;
	margin-bottom: 0;

}

.background-text > h3 {
	font-size: 1.563rem;
	margin-top: .4em;
}

.learn-more-button {
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style:none;
	border-radius: 4px;
	margin-top: .3em;
	width: 9.6888rem;
	height: 3.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.125rem;

}

.spacer {
	margin-bottom: 16em;
}

/*===========Bottom Section==================*/

.bottom-text > h2 {
	font-size: 2.75rem;
	margin-top: 2.2em;
	text-align:center;
}

.bottom-text p {
	font-weight: 400;
    font-size: 1.563rem;
}

.bottom-text ul {
	list-style: none;
	text-align: center;
	margin-left: 17.5em;
	padding-bottom: 20em;
	padding-left: 0;
}

.bottom-text li {
	width: 247px;
	float: left;

}

/*===========Social media Links============*/

.social-media {
	text-align: center;
}

.social-media ul {
	list-style: none;
}