

body {
	background-color: LightGray;
}

section {
	border: 1px solid orange;
}

div {
  background-color: red;
}

.navbar {
  margin-left: 10em;
  margin-right: 10em;

}

.navbarlist > li {
  display: inline-block;
  color:yellow;
  font-weight: bold;
  margin-left: 5em;
  margin-right: 5em;
}
